# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.bin
*.exe
*.dll
*.lib

# Distribution / packaging
bin/
build/

# Venv
venv/

# Documents
*.pdf
*.txt
*.avi

# Image examples for documentation
# assets/examples/